.App {
  font-family: sans-serif;
  text-align: left;
  flex-wrap: wrap;
  background-color: blue;
}

.container{
  border-width: 5px;

}
.Dollar{
  font-size: xx-large;
  /* width: 100px; */
}
.mnth{
  font-size:medium;
}



