.App{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border:5px solid ornflowerblue      

             }
.card{
    border: 5px solid ;
    border-color:blanchedalmond;
    height:550px;
    width:400px;
    margin:10px;
    padding:37px;
    background-color:white;
    border-radius :20px;
}
.container{
    border-bottom: 5px solid cadetblue;
    justify-content: center;
}



  .card:hover{
    margin:1px;
    cursor:pointer;

  }
  
